In [90]:
from bs4 import BeautifulSoup
import requests
import csv

In [2]:
url = "https://www.everythingmom.com/activities/math-riddles-for-kids"

In [3]:
r = requests.get(url)

In [4]:
soup = BeautifulSoup(r.content)

In [104]:
riddles = soup.findAll('blockquote',attrs={"class":"wp-block-quote"})
answers = soup.findAll('cite')
sno = 1

In [105]:
with open("Riddle_Data.csv","w",newline='') as R:
    writer = csv.writer(R)
    writer.writerow(['SNo','Questions','Hints','Answers'])

In [106]:
for ri,an in zip(riddles,answers):
    question = ri.find('p').text
    answers = an.get_text()
    with open("Riddle_Data.csv",'a',newline='') as R:
        writer = csv.writer(R)
        writer.writerow([sno,question,answers,0])
    sno+=1

In [1]:
import pandas as pd
import numpy as np

In [2]:
csv = pd.read_csv("Riddle_Data.csv")
pd.set_option('display.max_colwidth', None)

In [3]:
csv

,SNo,Questions,Hints,Answers,DigitsCount
0,1,X is an odd number. Take an alphabet away from X and it becomes even. Which is that number?,Answer: Seven (Seven-S=Even),7,1
1,2,"A grandmother, two mothers, and two daughters went to a baseball game together and bought one ticket each. How many tickets did they buy in total?",Answer: 3 tickets (the grandmother is also a mother and the mother is also a daughter),3,1
2,3,"At the time of shipping, Tom can place 10 small boxes or 8 large boxes into a carton. A total of 96 boxes were sent in one shipment. The number of small boxes was less than large boxes. What is the total number of cartons he shipped?",Answer: 11 cartons 4 small boxes (410 = 40 boxes) 7 large boxes (78 = 56 boxes) So 96 boxes and 11 total cartons,11,2
3,4,"When Miguel was 6 years old, his little sister, Leila, was half is age. If Miguel is 40 years old today, how old is Leila?",Answer: She is 37 years old.,37,2
4,5,You are given 3 positive numbers. You can add these numbers and multiply them together. The result you get will be the same. Which are the numbers?,"Answer: 1, 2 and 3",123,3
5,6,Tom was asked to paint the number of plates on 100 apartments which means he will have to paint numbers 1 through 100. Can you figure out the number of times he will have to paint the number 8?,"Answer: 20 times. (8, 18, 28, 38, 48, 58, 68, 78, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 98)",20,2
6,7,What is the maximum possible number of times you can subtract number 5 from number 25?,"Answer: Only once. This is because when you subtract 5 from 25 for the first time, it becomes number 20, then 15 and so on.",1,1
7,8,"Leon works at the aquarium. When he tries to put each turtle in its own tank, he has one turtle too many. But if he puts two turtles per tank, he has on tank too many. How many turtles and how many tanks does Leon have?",Answer: He has 3 tanks and 4 turtles,34,2
8,9,A 300 ft. train is traveling 300 ft. per minute must travel through a 300 ft. long tunnel. How long will it take the train to travel through the tunnel?,Answer: Two minutes. It takes the front of the train one minute and the rest of the train will take two minutes to clear the tunnel.,2,1
9,10,I am a three-digit number. My second digit is 4 times bigger than the third digit. My first digit is 3 less than my second digit. Who am I?,Answer: 141,141,3
10,11,"There are 100 pairs of dogs in a zoo. Two pairs of babiesp are born for every dog. Unfortunately, 23 of the dogs have not survived. How many dogs would be left in total?",Answer: 977 dogs (100 x 2 = 200 ; 200 + 800 = 1000; 1000 – 23 = 977),977,3
11,12,"A group of students were standing in the blazing sun facing due west on a march past event. The leader shouted at them: Right turn! About turn! Left turn! At the end of these commands, in which direction is the students facing now? East-1, West-2, North-3, South-4","Answer: East. They will turn 90 degrees in a right turn, and they turn180 degrees in an about-turn, and finally they turn 90 degrees in a left turn. Therefore, the students are now facing east.",1,1
12,13,Eggs are $0.12 a dozen. How many eggs can you get for a dollar?,"Answer: 100 eggs, at one penny each",100,3
13,14,I am a three-digit number. My tens digit is six more than my ones digit. My hundreds digit is eight less than my tens digit. What number am I?,Answer: 193,193,3
14,15,"In an odd little town, there was an odd little stream, WIth odd little fish in an odd little team. A stranger approached a local fisherman, And asked him how much his odd little fish weighed. The odd little man replied: All the fish in this stream weigh exactly 1/2 of a pound plus 1/2 of a fish. Isn’t that odd? How many pounds does an odd little fish weigh?",Answer: One,1,1
15,16,How many sides does a circle have?,Answer: Two. The inside and the outside.,2,1
16,17,"A man is twice as old as his little sister. He is also half as old as their dad. Over a period of 50 years, the age of the sister will become half of their dad’s age. What is the age of the man now?",Answer: He is 50 years old.,50,2
17,18,What is the difference between a dollar and a half and thirty five-cents.,Answer: Nothing,0,1
18,19,"If you multiply this number by any other number, the answer will always be the same. What number is this?",Answer: Zero,0,1
19,20,"There is a clothing store in Bartlesville. The owner has devised his own method of pricing items. A vest costs $20, socks cost $25, a tie costs $15 and a blouse costs $30. Using the method, how much would a pair of underwear cost",Answer: $45. The pricing method consists of charging $5 for each letter required to spell the item.,45,2
20,21,"If seven people meet each other and each shakes hands only once with each of the others, how many handshakes will there have been?",Answer: Twenty One,21,2

In [4]:
csv["Hints"][1]

' Answer: \xa03 tickets (the grandmother is also a mother and the mother is also a daughter) '

In [5]:
len(csv)

21

In [6]:
r = np.random.randint(0,20,1)
print(r)

[9]

In [7]:
ans = r

In [12]:
ans =(csv["Questions"][r]).to_string()
type(ans)

str

In [14]:
print(ans[3:])

   I am a three-digit number. My second digit is 4 times bigger  than the third digit. My first digit is 3 less than my second digit. Who  am I?

In [34]:
import csv
no=1
with open('Riddle_Data.csv', 'r') as file:
    reader = csv.reader(file, delimiter = '\t')
    main = [row for idx,row in enumerate(reader) if idx==no]
    print(main)

[['1, X is an odd number. Take an alphabet away from X and it becomes even. Which is that number? , Answer: Seven (Seven-S=Even) ,7,1']]

In [30]:
reader["SNo"]

TypeError: '_csv.reader' object is not subscriptable

In [35]:
main

[['1, X is an odd number. Take an alphabet away from X and it becomes even. Which is that number? , Answer: Seven (Seven-S=Even) ,7,1']]

In [38]:
main[0]

['1, X is an odd number. Take an alphabet away from X and it becomes even. Which is that number? , Answer: Seven (Seven-S=Even) ,7,1']

In [15]:
ans

'9     I am a three-digit number. My second digit is 4 times bigger  than the third digit. My first digit is 3 less than my second digit. Who  am I? '

In [19]:
a=csv["DigitsCount"][1]

In [20]:
type(a)

numpy.int64

In [22]:
print(a)

1

In [33]:
ans =(csv["Answers"][0]).to_string()

AttributeError: 'numpy.int64' object has no attribute 'to_string'

In [34]:
ans

'9    141'